* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  

.card img{
    width: 100%;
    border-radius: 20px;
}

.card{
    width: 40%;
    border: 1px solid rgb(190, 184, 184);
    text-align: center;
    padding: 30px;
    border-radius: 20px;
}

.text{
    margin-bottom: 5px;
}

.text button{
   padding: 5px;
   font-size: 20px;
   color: white;
   border: none;
   background-color: black;
}

.projet{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 80px;
    height: 5rem;
    margin-top: 10rem;
}

.description{
    text-align: center;
    color: red;
}

