* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  background: rgb(21, 9, 48) !important;
}

.progress {
  background-color: rgb(221, 219, 219) !important;
}

.progress-bar {
  background-color: rgb(243, 126, 10) !important;
  color: #abcbd1 !important;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(21, 9, 48);
  align-items: center;
  padding: 30px;
  width: 100%;
}



nav ul {
  display: flex;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: white;
  margin-left: 26px;
}

nav h4 {
  color: red;
}


#section-home {
  display: flex;
  align-items: center;
  padding: 0px 60px;
  justify-content: space-between;
  gap: 30px;
}


.box1 h2 {
  text-align: left;
  color: red;
  margin-bottom: 10px;
}


.box1 h1 {
  color: white;
  margin-bottom: 10px;
}


.box1 p {
  color: white;
}


.box2 img {
  height: auto;
  max-width: 500px;
}


.dev button {
  color: white;
}

#item {
  color: white;
}

#item h1 {
  color: red;
  margin-bottom: 10px;
}

.mbaye {
  text-align: center;
  color: white;
}

.mbaye {
  width: 600px;
  border-radius: 5px;
  border: 1px solid white;
  padding: 30px;
  margin: 0 auto;
}

label {
  color: white;
}

input,
textarea {
  background-color: transparent;
  width: 100%;
  border-radius: 6px;
  border: 1px solid white;
  padding: 8px;
  margin-top: 5px;
}

.mbaye button {
  border: none;
  color: rgb(16, 9, 31);
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.mbaye button:hover {

  background-color: blue;
  color: red;
}


.input-groupe {
  margin-bottom: 20px;

}

input::placeholder {
  color: #ccc;
}

footer {
  background: red !important;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 0px;
}


.social-media {
  color: white;
  text-align: center;
}

.social-media i {
  font-size: 24px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 5px;
}


.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

footer ul, .footer ul {
  list-style: none;
}

.footer ul {
  padding-left: 0;
}


.propos {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.propos p {
  color: white;
  margin-top: 5%;
}

.propos h1 {
  color: red;
}

.progress {
  color: rgb(242, 7, 7);
}

.lang-img img {
  border-radius: 50%;
  max-width: 100px;
}

@media screen and (max-width:768px) {
  nav {
    flex-direction: column;
    align-items: start;
    padding: 20px 30px;
    gap: 15px;
  }

  .brand img {
    max-width: 120px;
  }

  nav a {
    font-size: 14px;
    margin-left: 10px;
  }

  #section-home {
    flex-direction: column;
    align-items: start;
    padding: 0px 30px;
  }

  .box1 p {
    font-size: 20px;
  }

  footer {
    margin-top: 80px;
    position: relative;
  }

  .box2 img {
    max-width: 350px;
  }

  .lang-img img {
    max-width: 80px;
  }
  
  .com {
    gap: 60px;
  }
}

.bar {
  margin-bottom: 100px;
}

.container h3{
  color: red;
}